*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
shared/build/
iosApp/build/
iosApp/*.xcodeproj/
iosApp/*.xcworkspace/
keystore.properties
*.jks

.kotlin/

# Hidden test project
_stems/
.agents
